.circle
{
height:150px;
width:150px;
border-radius:50px;
background-color:red;
display:inline-block;
}
body
{
background-color:99ccff;
}
.p
{
font-family:"Times New Roman",Helvetica,sans-serif;
font-size:30px;
}
#c1
{
display:table-cell;
height:80px;
width:80px;
border-radius:50%;
background-color:#7FB3D5;
display:inline-block;
text-align:center;
vertical-align:middle;

}
#c2
{vertical-align:middle;
height:80px;
width:80px;
border-radius:50%;
background-color:#ff6666;
display:inline-block;
text-align:center;
}
#c3
{vertical-align:middle;
height:80px;
width:80px;
border-radius:50%;
background-color:#99e699;
display:inline-block;
text-align:Center;
}
.co
{
background-color:yellow;
}
.co1
{
background-color:ff8080;
}
.l
{
border-right:5px;
height:1000px;
}
.b
{
color:black;
}
.table
{
border="1";
}