
.circle
{
height:150px;
width:150px;
border-color:red;
border-size:500%;
border-radius:500%;
position:absolute;
top:175px;
right:600;
border:4px solid white;
}
.size
{

color:blue;
}
#g
{
height:30px;
width:30px;
border-color:red;
border-size:50%;
border-radius:50%;
bottom:50px;
text-indent:30px;
vertical-align:middle;
}

.bc
{
color:black;

font-size:20px;

}
.s1
{
left:0;
bottom:0;
text-align:center;
width:100%;
background-color:#fdfd;
line-height:50px;
font-size:19px;

}

.h
{
top:10px;
color:white;
font-size:50px;
position:absolute;
left:0;
right:0;
}
.b
{
background-color:#DC143C;
font-size:30px;

}

.h1
{
left:33;
font-size:20px;

text-indent:90px;
}
.b1
{
background-color:#F3A797	;
}
.b2
{
background-color:#F29E8C;
}
.b3
{
background-color:#F0856E;
}
.b4
{
background-color:#F0694C;
}
.b5
{
background-color:#EA5231;
}
.b
{
font-size:30px;
line-height:100px;
text-decoration: none;
}
.link
{
color:blue;
font-size:30px;
font-variant:small-caps;
}

.s
{
height:35%;
width:100%;
position:relative;

}
